<% if type == :edit %>
  <% action_url = band_url(band) %>
  <% patch = true %>
<% else %>
  <% action_url = bands_url %>
<% end %>

<form action="<%= action_url %>" method="POST">
  <%= auth_token %>
  <% if patch %>
    <input type="hidden" name="_method" method="PATCH"/>
  <% end %>
  <label>Name:
    <input type="text" name="band[name]" value="<%= band.name %>"/>
  </label>
  <button type= "submit">Submit Band</button>
</form>
