// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.padded {
  padding-bottom: 10px;
}

h4 {
  margin-bottom: 1px;
}

ul {
  margin-top: 7px;
}

.edit_link {
  font-size: 10px;
}
